/* Define styles for labels */
.root{
	-fx-background-color: #F5F5F5;
}
.image {
    /* Set background image */
    -fx-background-image: url('assets/photos/elearning.jpg');
    /*-fx-background-color: #FFF000;*/
    /* Preserve the aspect ratio of the background image */
      -fx-background-size: cover;
    -fx-background-position: center;
    
}
.avatar {
    /* Set background image */
    -fx-background-image: url('assets/photos/avatar.png');
   /*  -fx-background-color: #FFF000;*/
    /* Preserve the aspect ratio of the background image */
      -fx-background-size: cover;
    -fx-background-position: center;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-padding: 0 10 0 0;
   /* -fx-background-radius: 50; */
}
.titles{
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}
.desc{
	-fx-font-size: 10;
}
.overlay {
    /* Semi-transparent dark background */
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
.label {
    -fx-font-size: 14px;
 /*  -fx-font-weight: bold;*/
}

/* Define styles for text fields */
.text-field {
    -fx-prompt-text-fill: gray;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0.25em 0.25em 0.25em 0.25em; /* Adjust padding to match the default */
    -fx-text-box-border: transparent;
    -fx-text-box-border-width: 1;
    -fx-text-box-border-color: #041444;
    -fx-highlight-fill: -fx-control-inner-background;
    -fx-highlight-text-fill: -fx-text-inner-color;
}

/* Define styles for buttons */
.button {
    -fx-background-color: #041444; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-font-weight: bold;
}
/* Define styles for ComboBox */
.combo-box {
	 -fx-font-size: 14px;
     -fx-pref-width: 200;
     -fx-pref-height: 40;
     -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0.25em 0.25em 0.25em 0.25em; /* Adjust padding to match the default */
    -fx-text-box-border: transparent;
    -fx-text-box-border-width: 1;
    -fx-text-box-border-color: #041444;
    -fx-highlight-fill: -fx-control-inner-background;
    -fx-highlight-text-fill: -fx-text-inner-color;
}
.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}
.menu{
	-fx-border-width: 0 1 0 0; /* top, right, bottom, left */
    -fx-border-color: #041444;
}
.header{
	-fx-border-width: 0 0 1 0; 
    -fx-border-color:  #041444;
}
.mainpage{
    -fx-pref-height: 800;
}
.menuItem{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}
.menu .menuItem.selected {
    -fx-font-weight: bold;
    -fx-background-color: #041444;
    -fx-text-fill: white;
}
.menu .menuItem:hover {
    -fx-font-weight: bold;
    -fx-background-color: #041444;
    -fx-text-fill: white;
}



.button:hover {
    -fx-effect: dropshadow(gaussian, #000, 10, 0, 0, 0);
}

